body {
  background-color: lightgrey;
  padding: 3px;
}

table, th, tr, td {
  border: 1px solid blue;
  margin: 0px;
  padding: 3px;
  border-spacing: 0;
}

th {
  background-color: lightblue;
}

td {
  empty-cells: show;
  vertical-align: top;
  text-align: left;
}
